body {
    background: linear-gradient(100deg, #200c32, #e74d89, #febaa6);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.all {
    position: relative;
}

main img {
    height: 154px;
    width: 131px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

#fdiv {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 473px;
}

.sdiv {
    width: 473px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    transition: 0.5s;
    background-color: rgb(220, 53, 69);
    color: white;
}

.sdiv h3 {
    padding-top: 13px;
}

.sdiv:hover {
    background-color: #F97F51;
    box-shadow: 0 8px 8px 0 black;
}

.sdiv:active {
    background-color: black;
    color: white;
}

.icon1:visited {
    color: white;
}

.tdiv {
    width: 473px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    transition: 0.1s;
    color: white;
    font-family: 'Martian Mono', monospace;
}

.tdiv h3 {
    padding-top: 13px;
}

#query {
    background-color: #bd4e78;
    color: white;
    font-family: Josefin Sans', sans-serif;  
;
    outline: #eb3b5a;
    font-weight: bold;
}

#query:hover {
    background-color: #eb3b5a;
}

button {
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

footer {
    text-align: center;
}